@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu:300');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#first-a{
    color: #03a9f4;
}

a{
    text-decoration: none;
    font-size: 14px;
    color: #aaaaaa;
    text-align: center;
    text-transform: uppercase;
}

.menu{
    font-family: 'Playfair Display', serif;
    margin: 0 auto;
    width: 800px;
    list-style: none;
    margin-top: 77px; 
}

.menu li{
    display: inline; 
    margin-left: 105px;
}

main{
    width: 1200px;
    margin: 100px auto 0;
    margin-left: 200px;
    margin-bottom: 54px;
    margin-top: 103px; 
}

section{
    width: 500px;
    display: inline-block; 
}

.step{
    margin-left: 150px;
}

span{
    font-family: 'Ubuntu', sans-serif;
    display: block; 
    font-size: 14px;
    color: #c8c3b8;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 28px;
    margin-top: 28px;
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #626262;
    text-align: left;
}

p{
    font-family: 'Playfair Display', serif;
    margin-top: 34px;
    margin-bottom: 130px;
    width: 414px;
    height: 63px;
    font-size: 14px;
    color: #949494;
    text-align: left;   
}

.button{
    font-family: 'Playfair Display', serif;
    background-color: white; 
    border: 1px solid #626262;
    color: #898989;
    width: 164px;
    height: 60px;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 108px auto 54px;
    margin-top: 54px;
    margin-bottom: 70px;
}
